<div class="flex flex-col lg:flex-row h-screen">

  <div class="flex flex-col items-center justify-center w-full lg:w-1/2 p-8 ">
    <img class="pb-4 w-32" src="/assets/svg/logo.svg" alt="Logo">
    <h2 class="pb-6 text-2xl font-medium">Faça seu Login</h2>

    <div class="w-full max-w-sm">
      <input
        class="mb-4 border border-indigo-600 rounded-lg w-full h-10 text-gray-700 indent-3"
        type="text"
        placeholder="Email ou CPF">
      <input
        class="mb-4 border border-indigo-600 rounded-lg w-full h-10 text-gray-700 indent-3"
        type="password"
        placeholder="Senha">

      <button
        (click)="loginFeito()"
        class="mb-4 bg-indigo-600 text-white rounded-lg w-full h-10 shadow-xl font-bold
               hover:bg-white hover:text-indigo-600 hover:border hover:border-indigo-600 active:bg-indigo-500 active:text-white"
               >
        Login
      </button>
      <button class="text-gray-600 hover:text-indigo-600 active:text-indigo-800 text-sm mb-4 indent-1">Esqueceu sua senha?</button>

      <hr class="border-gray-400 pb-7">

      <p class="text-gray-900 text-base mb-4 text-center">Ainda não possui uma conta?</p>
      <button
        class="border border-indigo-600 text-indigo-600 rounded-lg w-full h-10 font-bold
               hover:bg-indigo-600 hover:text-white active:bg-indigo-500">
        Cadastre-se agora
      </button>
    </div>

  <div *ngIf="mostrarModal">
   <div class="fixed -translate-x-1/1 -translate-y-1/2 bg-indigo-700 text-white p-4 shadow-xl rounded-lg">
    <p class="pb-2 font-roboto">Login realizado com sucesso</p>
    <button (click)="loginFeito()" class="bg-white text-indigo-600 rounded-lg w-20 h-8 font-bold
               hover:bg-indigo-600 hover:text-white active:bg-indigo-500">Fechar</button>
   </div>
  </div>
  </div>

  <div class="hidden lg:flex flex-col items-center justify-center bg-sky-50 w-full lg:w-1/2 p-8">
    <p class="text-xl font-semibold mb-6">You Should, MoveIt!</p>
    <img src="/assets/svg/main-illustration.svg" alt="Ilustração principal" class="max-w-md">
  </div>

</div>
